<h1>Truck Maintenance</h1>

    <mat-paginator [pageSizeOptions]="[10, 50, 100]"
                    showFirstLastButtons
                    aria-label="Registros por pagina">
    </mat-paginator>

    <mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="truck">
            <th mat-header-cell *matHeaderCellDef>Truck</th>
            <td mat-cell *matCellDef="let element" class="cell-text-black">
                {{element.truck}}
            </td>
        </ng-container>

        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef>Type</th>
            <td mat-cell *matCellDef="let element" class="cell-text-black">
                {{element.type}}
            </td>
        </ng-container>

        <ng-container matColumnDef="driver">
            <th mat-header-cell *matHeaderCellDef>Driver</th>
            <td mat-cell *matCellDef="let element" class="cell-text-black">
                {{element.driver}}
            </td>
        </ng-container>

        <ng-container matColumnDef="dispatcher">
            <th mat-header-cell *matHeaderCellDef>Dispatcher</th>
            <td mat-cell *matCellDef="let element" class="cell-text-black">
                {{element.dispatcher}}
            </td>
        </ng-container>

        <ng-container matColumnDef="dueDate">
            <th mat-header-cell *matHeaderCellDef>Due Date</th>
            <td mat-cell *matCellDef="let element" class="cell-text-black">
                {{element.dueDate.substring(0,10)}}
            </td>
        </ng-container>

        <ng-container matColumnDef="mechanical">
            <th mat-header-cell *matHeaderCellDef>Mechanical</th>
            <td mat-cell *matCellDef="let element" class="cell-text-black">
                {{element.mechanical}}
            </td>
        </ng-container>

        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef>Edit</th>
            <td mat-cell *matCellDef="let element" class="cell-text-black">
                <button class="btn btn-primary" type="button" routerLink="/create/{{element.id}}" >Edit</button>
            </td>
        </ng-container>

        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef>Delete</th>
            <td mat-cell *matCellDef="let element" class="cell-text-black">
                <button class="btn btn-danger" type="button" (click)="deleteItem(element.id)">Delete</button>
            </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns;"></tr>
        
    </mat-table>