<form [formGroup]="formMaintenance"
    (ngSubmit)="createMaintenance()">
    <h3 *ngIf="!isEdit"><strong>Add Truck Maintenance</strong></h3>
    <h3 *ngIf="isEdit"><strong>Edit Truck Maintenance</strong></h3>
    <div class="row col-md-12" style="margin-top: 10px;">
        <div class="col-md-4">
            <p>Truck</p>
        </div>
        <div class="col-md-8">
            <select class="form-control" formControlName="truckId" id="truck" name="truck">
                <option value="0" selected>Choose Truck</option>
                <option *ngFor="let item of trucks" [value]="item.id">
                    {{item.descripcion}}
                </option>
            </select>
        </div>
    </div>

    <div class="row col-md-12" style="margin-top: 10px;">
        <div class="col-md-4">
            <p>Type</p>
        </div>
        <div class="col-md-8">
            <select class="form-control" formControlName="typeId" id="type" name="type">
                <option value="0">Choose Truck Maintenance Service</option>
                <option *ngFor="let item of types" [value]="item.id">
                    {{item.descripcion}}
                </option>
            </select>
        </div>
    </div>

    <div class="row col-md-12" style="margin-top: 10px;">
        <div class="col-md-4">
            <p>Driver</p>
        </div>
        <div class="col-md-8">
            <select class="form-control" formControlName="driverId" id="driver" name="driver">
                <option value="0">Choose Driver</option>
                <option *ngFor="let item of drivers" [value]="item.id">
                    {{item.descripcion}}
                </option>
            </select>
        </div>
    </div>

    <div class="row col-md-12" style="margin-top: 10px;">
        <div class="col-md-4">
            <p>Dispatcher</p>
        </div>
        <div class="col-md-8">
            <select class="form-control" formControlName="dispatcherId" id="dispatcher" name="dispatcher">
                <option value="0">Choose Dispatcher</option>
                <option *ngFor="let item of dispatchers" [value]="item.id">
                    {{item.descripcion}}
                </option>
            </select>
        </div>
    </div>

    <div class="row col-md-12" style="margin-top: 10px;">
        <div class="col-md-4">
            <p>Due Date</p>
        </div>
        <div class="col-md-8">
            <input type="date" formControlName="dueDate" class="form-control" id="date" name="date" placeholder="Due Date" value="dueDate.substring(0,10) | date:'yyyy-MM-dd'">
        </div>
    </div>

    <div class="row col-md-12" style="margin-top: 10px;">
        <div class="col-md-4">
            <p>Mechanical</p>
        </div>
        <div class="col-md-8">
            <select class="form-control" formControlName="mechanicalId" id="mechanical" name="mechanical">
                <option value="0">Choose Mechanical</option>
                <option *ngFor="let item of mechanicals" [value]="item.id">
                    {{item.descripcion}}
                </option>
            </select>
        </div>
    </div>

    <div class="row col-md-12" style="margin-top: 10px; margin-bottom: 50px;">
        <div class="col-md-8 offset-md-4">
            <button class="btn btn-primary" *ngIf="!isEdit" type="submit">Save</button>
            <button class="btn btn-primary" *ngIf="isEdit" type="submit">Update</button>
            <button class="btn btn-light" (click)="reset()" type="button" style="margin-left: 20px;">Cancel</button>
        </div>
    </div>
</form>